<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Compras
      <img src="https://images.vexels.com/media/users/3/200097/isolated/preview/942820836246f08c2d6be20a45a84139-icono-de-carrito-de-compras-carrito-de-compras.png" width="25" height="25">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Productos</ion-title>
      
      
    </ion-toolbar>
    
  </ion-header>
  <ion-searchbar #searchBar [(ngModel)]="terminoBusqueda" (ionChange)="filtrarProductos()"></ion-searchbar>
  <div class="lista-productos">
  <ion-list *ngFor="let producto of productosFiltrados">
    <ion-item (input)="viewProductDetails(producto)">
      <ion-button fill="clear" (click)="viewProductDetails(producto)">
        <ion-thumbnail slot="start">
          <img [src]="producto.img" alt="{{ producto.img }}">
        </ion-thumbnail>
      </ion-button>
      {{ producto.nombre }} - Precio: {{ producto.precio | currency:'USD':'symbol' }}
      
      <ion-button (click)="addToCart(producto)">Agregar al carrito</ion-button>
    </ion-item>
  </ion-list>
</div>
  
  

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-button fill="clear" (click)="viewProductDetails(product)">
      <ion-thumbnail slot="start">
        <img [src]="product.img" alt="{{ product.img }}">
      </ion-thumbnail>
    </ion-button>
      <ion-label>
        <h2>{{ product.nombre }}</h2>
        <p>Precio: ${{ product.precio }}</p>

        <ion-button (click)="addToCart(product)">Agregar al carrito</ion-button>

      </ion-label>



