<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Registrar Usuario </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.username" formControlName="user_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.password" formControlName="user_pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Avatar</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.avatar" formControlName="user_avatar"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!usuarioForm.valid">Submit</ion-button>
  </form>
</ion-content>